


	.col-sm-4 {
		display: table-cell; /* Make elements inside the container behave like table cells */
		height: 300px;
		overflow: hidden;
}

.col-container {
	display: table; /* Make the container element behave like a table */
	width: 100%; /* Set full-width to expand the whole page */
}